cmd_Lab_1_pic_1.png
cmd_Lab_1_pic_2.png
cmd_Lab_1_pic_3.png
cmd_Lab_1_pic_4.png
cmd_Lab_1_pic_5.png
cmd_Lab_1_pic_6.png
cmd_Lab_1_pic_7.png
cmd_Lab_1_pic_8.png
cmd_Lab_1_pic_9.png
cmd_Lab_1_pic_10.png
cmd_Lab_1_pic_11.png
cmd_Lab_1_pic_12.png
cmd_Lab_1_pic_13.png
cmd_Lab_1_pic_14.png
cmd_task1_Lab_1.png
Qt_5_7_1_Lab_1_rus_console.png
screen_system.png
Lab_1/build-Lab_1-Desktop_Qt_5_7_1_MinGW_32bit-Debug/
Lab_1/build-task_1-Desktop_Qt_5_7_1_MinGW_32bit-Debug/
Lab_1/cmd+task/
Lab_1/build-task_2_1-Desktop_Qt_5_7_1_MinGW_32bit-Debug/
Lab_1/build-task_2_1-Desktop_Qt_5_7_1_MinGW_32bit-Release/
Lab_1/build-task_2_2-Desktop_Qt_5_7_1_MinGW_32bit-Debug/
Lab_1/build-task_2_3-Desktop_Qt_5_7_1_MinGW_32bit-Debug/
Lab_1/build-task_2_3-Desktop_Qt_5_7_1_MinGW_32bit-Release/
Lab_1/task_2_3/libgcc_s_dw2-1.dll
Lab_1/task_1.pro.usergit 
Lab_1/task_2_3/task_2_3.pro.user
Lab_1/task_2_1/task_2_1.pro.user
Lab_1/task_2_2/task_2_2.pro.user
build-Lab_1-Desktop_Qt_5_7_1_MinGW_32bit-Debug/
build-task_1-Desktop_Qt_5_7_1_MinGW_32bit-Debug/
cmd+task/

